@namespace DataVforBlazor
@using System.Drawing
@inherits BoderBase
<div id="@ID" class="dv-border-box-1" style="Width:@width;Height:@height;">

    <svg class="dvborder" style="Width:@width;Height:@height;">
        <polygon fill="@BackgroundColor" points="10, 27 10, @(Height-27) 13, @(Height - 24) 13, @(Height - 21) 24, @(Height - 11)
      38, @(Height - 11) 41, @(Height - 8) 73, @(Height - 8) 75, @(Height - 10) 81, @(Height - 10)
      85, @(Height - 6) @(Width - 85), @(Height - 6) @(Width - 81), @(Height - 10) @(Width - 75), @(Height - 10)
      @(Width - 73), @(Height - 8) @(Width - 41), @(Height - 8) @(Width - 38), @(Height - 11)
      @(Width - 24), @(Height - 11) @(Width - 13), @(Height - 21) @(Width - 13), @(Height - 24)
      @(Width - 10), @(Height - 27) @(Width - 10), 27 @(Width - 13), 25 @(Width - 13), 21
      @(Width - 24), 11 @(Width - 38), 11 @(Width - 41), 8 @(Width - 73), 8 @(Width - 75), 10
      @(Width - 81), 10 @(Width - 85), 6 85, 6 81, 10 75, 10 73, 8 41, 8 38, 11 24, 11 13, 21 13, 24" />
    </svg>
    @foreach (var item in border)
    {
        <svg style="width:150px;height:150px"  key="@item" class="@item dvborder">
            <polygon fill="@MergedColor[0]"
                 points="6,66 6,18 12,12 18,12 24,6 27,6 30,9 36,9 39,6 84,6 81,9 75,9 73.2,7 40.8,7 37.8,10.2 24,10.2 12,21 12,24 9,27 9,51 7.8,54 7.8,63">
                <animate attributeName="fill"
                     values="@MergedColor[0];@MergedColor[1];@MergedColor[0]"
                     dur="0.5s"
                     begin="0s"
                     repeatCount="indefinite" />
            </polygon>
            <polygon fill="@MergedColor[1]"
                 points="27.599999999999998,4.8 38.4,4.8 35.4,7.8 30.599999999999998,7.8">
                <animate attributeName="fill"
                     values="@MergedColor[1];@MergedColor[0];@MergedColor[1]"
                     dur="0.5s"
                     begin="0s"
                     repeatCount="indefinite" />
            </polygon>
            <polygon fill="@MergedColor[0]"
                 points="9,54 9,63 7.199999999999999,66 7.199999999999999,75 7.8,78 7.8,110 8.4,110 8.4,66 9.6,66 9.6,54">
                <animate attributeName="fill"
                     values="@MergedColor[0];@MergedColor[1];transparent"
                     dur="1s"
                     begin="0s"
                     repeatCount="indefinite" />
            </polygon>
        </svg>
    }
    <div class="border-box-content">
        <div class="border-box-inside">
            @ChildContent
        </div>
    </div>
</div>


