@namespace DataVforBlazor

<div id="@ID" class="dv-scroll-ranking-board" onmouseover="@MouseOver" onmouseout="@MouseOut">
    @foreach (var item in rows)
    {
        var i = rows.IndexOf(item);
        <div class="row-item @(item.remove?"row-remove":"")" key="@(item.ToString() + item.scroll)"
         style="height: @(item.height)px;">
            <div class="ranking-info">
                <div class="rank">No.@item.ranking</div>
                <div class="info-name">@item.name</div>
                <div class="ranking-value">@(item.value + Config.unit)</div>
            </div>

            <div class="ranking-column">
                <div class="inside-column"
                 style="width: @(item.percent)%;">
                    <div class="shine" />
                </div>
            </div>
        </div>
    }
</div>
@code {

}
