@namespace DataVforBlazor
@inherits BoderBase

<div id="@ID" class="dv-border-box-4" style="width:@width;height:@height;">
    <svg style="width:@width;height:@height;" class="dv-border-svg-container @(Reverse?"dv-reverse":"")">
        <polygon fill="@BackgroundColor" points="@(Width - 15), 22 170, 22 150, 7 40, 7 28, 21 32, 24 16, 42 16, @(Height - 32) 41, @(Height - 7) @(Width - 15), @(Height - 7)" />

        <polyline class="dv-bb4-line-1"
                  fill="@BackgroundColor"
                  stroke="@MergedColor[0]"
                  points="145, @(Height - 5) 40, @(Height - 5) 10, @(Height - 35) 10, 40 40, 5 150, 5 170, 20 @(Width - 15), 20" />
        <polyline stroke="@MergedColor[1]"
                  fill="@BackgroundColor"
                  class="dv-bb4-line-2" points="245, @(Height - 1) 36, @(Height - 1) 14, @(Height - 23) 14, @(Height - 100)" />

        <polyline fill="@BackgroundColor" class="dv-bb4-line-3" stroke="@MergedColor[0]" points="7, @(Height - 40) 7, @(Height - 75)" />
        <polyline fill="@BackgroundColor" class="dv-bb4-line-4" stroke="@MergedColor[0]" points="28, 24 13, 41 13, 64" />
        <polyline class="dv-bb4-line-5" stroke="@MergedColor[0]" points="5, 45 5, 140" />
        <polyline fill="@BackgroundColor"  class="dv-bb4-line-6" stroke="@MergedColor[1]" points="14, 75 14, 180" />
        <polyline fill="@BackgroundColor" class="dv-bb4-line-7" stroke="@MergedColor[1]" points="55, 11 147, 11 167, 26 250, 26" />
        <polyline class="dv-bb4-line-8" stroke="@MergedColor[1]" points="158, 5 173, 16" />
         <polyline class="dv-bb4-line-9" stroke="@MergedColor[0]" points="200, 17 @(Width - 10), 17" />
        <polyline class="dv-bb4-line-10" stroke="@MergedColor[1]" points="385, 17 @(Width - 10), 17" />
    </svg>

    <div class="border-box-content">
        <div class="border-box-inside">
            @ChildContent
        </div>
    </div>
</div>

