@using DataVforBlazorTest.Pages.ExampleComponents.Decoration
<div style="margin-bottom:55px;">
    <Title Level="3" Style="color:black">@componentName</Title>
    <div style="width:680px;height:240px;background-color:#282c34;padding:45px;display:flex;justify-content:center;align-items:center">
        <Dv_Decoration_1 Width="rowPoints*10" Height="@((rowNum+1)*10)" RowNum="rowNum" RowPoints="rowPoints"
                         MergedColor="@(new List<string>{color1,color2})">
            <span style="color:#46bd87;font-size:20px">@componentName</span>
        </Dv_Decoration_1>
    </div>
    <div style="width:680px;height:63px;border-radius:6px;background-color:#282c34;margin-top:20px;padding-left:20px;line-height:63px">
        <span style="color:white;font-size:0.85rem">@("<")</span><span style="color:#e750e7;font-size:0.85rem">@componentName</span><span style="color:white;font-size:0.85rem">@("/>")</span>
    </div>
   <Descriptions Style="margin-top:20px;width:680px" Title="参数配置" Bordered Column="3">
        <DescriptionsItem Title="主色："><input type="color" @bind-value="@color1" /></DescriptionsItem>
        <DescriptionsItem Title="副色："> <input type="color" @bind-value="@color2" /></DescriptionsItem>
        <DescriptionsItem Title="行数："> <AntDesign.InputNumber @bind-Value="rowNum" Min="2" Max="10" ></AntDesign.InputNumber></DescriptionsItem>
        <DescriptionsItem Title="数量："> <AntDesign.InputNumber @bind-Value="rowPoints" Min="2" Max="40"></AntDesign.InputNumber></DescriptionsItem>
   </Descriptions>
</div>


@code
{
    string componentName = "Dv_Decoration_1";
    string color1 = "#fff";
    string color2 = "#0de7c2";
    int rowNum=4;
    int rowPoints = 20;
    
}