@page "/"
@using DataVforBlazor
<PageTitle>Index</PageTitle>




<div  style="background-color:black;padding:15px">
    <Dv_border_box_8  Width="@width" Height="@height" BackgroundColor="@backgroundcolor" MergedColor="@(new List<string>{color1,color2})">
      fuck
    </Dv_border_box_8>

</div>


<Input @bind-Value="@width" />
<Input @bind-Value="@height" />
<input type="color" @bind-value="@color1"/>
<input type="color" @bind-value="@color2" />
<input type="color" @bind-value="@backgroundcolor" />
@code
{
    int width = 1200;
    int height = 400;
    string color1 = "#4fd2dd";
    string color2 = "#235fa7";
    string backgroundcolor = "transparent";
    //string backgroundcolor = "yellow";
   
}